<div class="container-fluid">
  <div class="backing">
    <div class="col-md-3"></div>
    <div class="col-md-6 profile">
    <p id="notice"></p>

    <p class="backing">
      <strong>Name:</strong>
      <%= @event.name %>
    </p>

    <p class="backing">
      <strong>Date:</strong>
      <%= @event.date.to_formatted_s(:long_ordinal) %>
    </p>

    <p class="backing">
      <strong>Location:</strong>
      <%= @event.location %>
    </p>

    <p class="backing">
      <strong>Website:</strong>
      <a href="<%= @event.website %>">click</a>
    </p>

    <p class="backing">
     <%= link_to 'Back', events_path %>
    </p>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>