<p>
  <b>Name:</b>
  <%=h @album.name %><br />
  
  <% @album.photos.each do |photo| %>
    <h3><%=h photo.title %></h3>
    <%= image_tag photo.upload.url(:small) %>
  <% end %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>