
<div class="emailback">
<div class="email-form">
	

	<%= form_for :email, url: emails_path do |f| %>

		<%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
		<%= f.text_field :onlinemail, placeholder: 'Email address', class: 'form-control' %>
		<%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
		<%= f.text_field :message, placeholder: 'Message', class: 'form-control' %>
		<%= f.submit "Send", class: 'btn' %>

	<% end %>

</div>
</div>