<!DOCTYPE html>
<html>
<head>
  <title>laguestlist</title>
  <%= stylesheet_link_tag    'application', media: "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :defaults, 'jquery-1.3.2.min' %>
<script>
   jQuery.noConflict();
</script>
</head>
<body>
	<title>laguestlist</title>
	<div class="navcontainer" id="navscroll">
		<div class="logo">
			<h1><%= image_tag 'laguestlist_logo.PNG', class: 'fulllogo' %> 
			</h1>
		</div>

		<div class="navigation">
			<div class="navleft">
				<ul class="sf-menu sf-vertical sf-js-enabled sf-shadow">
					<li class="page_item">
						<%= link_to 'Home', events_path %>
					</li>

					<li class="page_item">
						<%= link_to 'Fête', events_path %>
					</li>

					<li class="page_item">
						<%= link_to 'Photography', albums_path %>
					</li>

					<li class="page_item">
						<a href="#">Calendar</a>
					</li>

					<li class="page_item">
						<a href="https://soundcloud.com/laguestlist">Melody</a>
					</li>

					<li class="page_item">
						<a href="#"><%=link_to 'Contact Us', emails_path %></a>
					</li>
				</ul>
			</div>
		<div class="socialnav">

				<a href="https://www.facebook.com/laguestlist">
					<div id="socialfb"></div>
				</a>
				<a href="http://instagram.com/la.guestlist">
					<div id="socialinsta"></div>
				</a>
				<a href="https://twitter.com/laguestlisst">
					<div id="socialtwitt"></div>
				</a>
				<a href="https://soundcloud.com/laguestlist">
					<div id="socialsound"></div>
				</a>

		</div>
		</div> 
	</div>
	

<%= yield %>
<div class="bodyback"></div>

</body>
</html>
