<!DOCTYPE html>
<html>
<head>
  <title>laguestlist</title>
  <%= stylesheet_link_tag    'application', media: "all" %>
  <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
  
  <%= csrf_meta_tags %>





</head>
<body>

	<title>laguestlist</title>


		<div id="logo">
			<h1 class="header">LAGUESTLIST</h1>
    </div>
	










	<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar data-options="sticky_on: large">
<nav  id="menu" class="nav">  
    <ul>
        <li>
            
               <span><%= link_to "Home", '/'%></span>
            
        </li>
        <li>      
               <span><%= link_to "This Week", 'weeks'%></span>   
        </li> 

        <li>
               <span><%= link_to "Albums", '/albums'%></span>
        </li>

        <li>
            <span><%= link_to "Calendar", '/events'%></span>
        </li>

        <li>
            <span><%= link_to "Contact Us", 'emails'%></span>
        </li>
 
    </ul>




  </nav>

                <div class="socialnav">

        <a href="https://www.facebook.com/laguestlist">
          <div id="socialfb"></div>
        </a>
        <a href="http://instagram.com/la.guestlist">
          <div id="socialinsta"></div>
        </a>
        <a href="https://twitter.com/laguestlisst">
          <div id="socialtwitt"></div>
        </a>
        <a href="https://soundcloud.com/laguestlist">
          <div id="socialsound"></div>
        </a>
      </div>
</div>

<!-- <div class="instarender">


    <iframe src="http://snapwidget.com/in/?u=bGEuZ3Vlc3RsaXN0fGlufDEyNXwzfDN8fG5vfDV8ZmFkZU91dHxvblN0YXJ0fHllcw==&v=9714" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:390px; height:390px"></iframe>
</div> -->









<%= yield %>






</body>
</html>
